@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", serif;
}

main {
    margin-left: 20rem;
    padding: 1rem;
}

#sidebar {
    width: 20rem;
    height: 100vh;
    position: fixed;
    background-color: rgb(78, 119, 255);
    font-size: 20px;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

#sidebar svg {
    width: 50px;
    height: 50px;
    filter: invert(100%);
}